# Local Netlify folder
.netlify
.DS_Store
node_modules
dist
build
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore environment variable files
.env
.env.local
frontend/.env
package-lock.json
node_modules/@esbuild/darwin-arm64/README.md
node_modules/@esbuild/darwin-arm64/package.json
node_modules/@esbuild/darwin-arm64/bin/esbuild
node_modules/.package-lock.json
frontend/package-lock.json
.vscode/settings.json
node_modules
